<tbody>
  <tr>
    <td><%= comment.body %></td>
    <td>Comment by <%= comment.author_name %></td>
    <td><%= distance_of_time_in_words(comment.article.created_at, comment.created_at) %></td>
  </tr>
</tbody>
