
<table>
        <thead>
          <tr>
              <th>Articles</th>
              <th>Comments</th>
          </tr>
        </thead>

        <tbody>
          <% @articles.each do |article| %>
          <tr>
            <td><h5> <%= link_to article.title, article_path(article) %> </h5></td>
            <td><%= article.tags.count %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
