<!DOCTYPE html>
<html>
<head>
  <title>Blogger</title>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>
<header>
  <nav>
    <div class="nav-wrapper">
      <a href="/articles" class="brand-logo"><i class="material-icons blog-icon">border_color</i>Blogger</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/articles">Articles</a> </li>
        <li><a href="/articles/new">New Article</a> </li>

      </ul>
    </div>
  </nav>
</header>
<body>
  <div class="yield-class">

    <%= yield %>
  </div>
</body>
</html>
